<!-- +++++ Contact Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3> Post New</h3>
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
				<form role="form" action="/posts/create">
				  <div class="form-group">
				    <input type="name" name="title" class="form-control" id="NameInputEmail1" placeholder="Title">
				    <br>
				  </div>
				  <textarea name="body" class="form-control" rows="6" placeholder="Enter your text here"></textarea>
				    <br>
				  <button type="submit" class="btn btn-success">SUBMIT</button>
				</form> 
				
				<!-- <#%= form_tag '/posts/create' do %>-->
				<!--  <div class="form-group">-->
				<!--    <#%= text_field_tag 'title', nil, class: "form-control", placeholder: "Title" %>-->
				<!--    <br>-->
				<!--  </div>-->
				<!--  <#%= text_area_tag 'body', nil, class: "form-control", placeholder: "Enter your text here" %>-->
				<!--    <br>-->
				<!--    <#%= submit_tag 'SUBMIT', class: "btn btn-success" %>-->
				<!--<%# end %>-->
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	
